# Dependencias
node_modules

# Build
dist
dist-ssr
*.local
*.tsbuildinfo

# Entorno (NO subir)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
